{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous" ></script>
    <title>About</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg " style="background-color: #29ad91;">
        <div class="container-fluid">
          <span class="navbar-brand" style="font-size: 2rem;">Sustainable Develeopment Goals</span>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav float-end d-flex justify-content-end w-100">
              <li class="nav-item mx-1">
                <a class="nav-link " href="/">
                  <span style="padding-left: 5px;">Home</span>
                </a>
              </li>
              <li class="nav-item mx-1">
                <a class="nav-link active" href="/about">
                  <span style="padding-left: 5px;">About</span>
                </a>
              </li>
              <li class="nav-item mx-1">
                <a class="nav-link" href="/register">
                  <span style="padding-left: 5px;">Register</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="d-flex flex-column justify-content-center align-items-center m-5 " >
        <div><h2>According to 2023</h2></div>
        <div class="m-4" style="width: 50vw;">Even before the COVID-19 pandemic, the world was already off-track to achieve its education targets. If no additional measures are taken, only one in six countries will meet SDG4 and achieve universal access to quality education by 2030. An estimated 84 million children and young people will still be out of school and an estimated 300 million student will still not have the basic numeracy and literacy skills they need to succeed in life. To deliver SDG4, education systems must be re-imagined, and education financing must become a priority national investment.</div>
        <div class="m-4" style="width: 50vw;">Target 4.1: Between 2015 and 2021, the school completion rate increased from 85% to 87% in primary, from 74% to 77% in lower secondary and from 54% in 2015 to 58% in upper secondary education. Even before the onset of COVID19, these rates had slowed down relative to progress in 2010-15. Looking closely at reading levels at the end of primary school, for which trend data cover 34% of the world's children, the analysis shows that global learning levels showed no progress between 2015-2019. Furthermore, learning losses due to COVID-related school closures have been documented in 4 out of 5 of the 104 countries that have carried out such studies.</div>
        <div class="m-4" style="width: 50vw;">Target 4.2: Participation rate in organized learning one year before the official primary entry age has stagnated at around 75% since 2015, still far from the target of ensuring that all girls and boys have access to quality pre-primary education by 2030.</div>
        <div class="m-4" style="width: 50vw;">Target 4.3: Among 131 countries with data from 2017 onwards, on average approximately one in six youth and adults aged 15-64 recently participated in formal or non-formal education and training. Participation is substantially higher among youth aged 15-24 (40%-50%), compared to those aged 25-55 (only 5% for most regions).</div>
        <div class="m-4" style="width: 50vw;">Target 4.a: Basic school infrastructure is far from universal. In 2020, approximately a quarter of primary schools globally do not have access to basic services such as electricity, drinking water and basic sanitation facilities. For other facilities such as computer facilities and the provision of disability adapted infrastructure, figures are substantially lower, with around 50% of primary schools with access.</div>
        <div class="m-4" style="width: 50vw;">Target 4.c: Globally, in 2020, over 14% of teachers are still not qualified according to national norms, with little improvement since 2015.</div>
    </div>
        <footer class="text-center py-3" style="background-color: #29ad91;">
        <div class="container">
          <section class="">
            <div class="d-flex justify-content-between w-100">
              <span> &#169; 2023 Copyright: ShopSmart</span>
              <span>All Rights  are reserved</span>
            </div>
          </section>
        </div>
      </footer>
</body>
</html>