{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <title>Home</title>
    <style>
      .card {
        background-color: rgb(113, 147, 178);
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg" style="background-color: #29ad91">
      <div class="container-fluid">
        <span class="navbar-brand" style="font-size: 2rem"
          >Sustainable Develeopment Goals</span
        >
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav float-end d-flex justify-content-end w-100">
            <li class="nav-item mx-1">
              <a class="nav-link active" href="/">
                <span style="padding-left: 5px">Home</span>
              </a>
            </li>
            <li class="nav-item mx-1">
              <a class="nav-link" href="/about">
                <span style="padding-left: 5px">About</span>
              </a>
            </li>
            <li class="nav-item mx-1">
              <a class="nav-link" href="/register">
                <span style="padding-left: 5px">Register</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="conatiner1 m-5">
      <h2 class="text-center">Home Page for Sustainable Develeopment</h2>
      <div
        class="card mt-5 p-1 d-flex justify-content-center align-items-center flex-row"
        style="width: 85vw; border-radius: 10px"
      >
        <img
          alt="shoe Image"
          style="width: 23vw"
          src="https://images.unsplash.com/photo-1494832944834-a08818c634b0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cG92ZXJ0eXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"
        />
        <div class="card-body">
          <h4 class="card-title">End Poverty</h4>
          <div class="card-text" style="text-align: justify">
            Poverty is a disease that has no cure. The deeper this disease is,
            the deeper its wound. By the way, man lives under compulsion. But
            usually one wants to avoid it. Poverty is a condition of extreme
            poverty for any person or human being. This is a situation when a
            person starts to lack important things in his life such as the roof,
            necessary food, clothes, medicines, etc. to continue his life.
          </div>
        </div>
      </div>
      <div
        class="card mt-5 p-1 d-flex justify-content-center align-items-center flex-row"
        style="width: 85vw; border-radius: 10px"
      >
        <img
          alt="shoe Image"
          style="width: 23vw"
          src="https://images.unsplash.com/photo-1594230612502-606960bfe3c1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8aW5lcXVhbGl0eXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"
        />
        <div class="card-body">
          <h4 class="card-title">Reduce Unequality</h4>
          <div class="card-text" style="text-align: justify">
            Inequalities based on income, sex, age, disability, sexual
            orientation, race, class, ethnicity, religion and opportunity
            continue to persist across the world. Inequality threatens long-term
            social and economic development, harms poverty reduction and
            destroys people's sense of fulfillment and self-worth. This, in
            turn, can breed crime, disease and environmental degradation.
          </div>
        </div>
      </div>
      <div
        class="card mt-5 p-1 d-flex justify-content-center align-items-center flex-row"
        style="width: 85vw; border-radius: 10px"
      >
        <img
          alt="shoe Image"
          style="width: 23vw"
          src="https://images.unsplash.com/photo-1535914254981-b5012eebbd15?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGhlYWx0aHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"
        />
        <div class="card-body">
          <h4 class="card-title">Improve Health</h4>
          <div class="card-text" style="text-align: justify">
            "Health" in terms of definitions for humans means a state of the
            body that is totally free from any illness or injury. Being healthy
            should be a part of our lifestyle as a whole. Good health and a
            happy mind are priceless possessions that one can have. If one is
            healthy, he or she can always work on getting wealth, however,
            wealth without good health is useless.
          </div>
        </div>
      </div>
      <a
        class="btn btn-primary m-3"
        href="https://sdgs.un.org/goals/goal4#overview"
      >
        Visit the official site here</a
      >
    </div>

    <footer class="text-center py-3" style="background-color: #29ad91">
      <div class="container">
        <section class="">
          <div class="d-flex justify-content-between w-100">
            <span> &#169; 2023 Copyright: ShopSmart</span>
            <span>All Rights are reserved</span>
          </div>
        </section>
      </div>
    </footer>
  </body>
</html>
